@model CameraDetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="d-flex flex-wrap justify-content-between font-weight-bold">
    <span>@Model.Make @Model.Model</span>
    <span>@Model.Price.ToCurrency()</span>

    @if (Model.InStock)
    {
        <span class="text-uppercase text-success">In stock</span>
    }
    else
    {
        <span class="text-uppercase text-danger">Out of stock</span>
    }
</h1>

<article class="container">
    <header class="d-flex flex-wrap justify-content-between">
        <div class="col-sm-4">
            <img src="@Model.ImageUrl" alt="@Model.Make @Model.Model" class="mw-100" />
        </div>
        <h3 class="col-sm-4">
            Seller
            <a asp-controller="Users" asp-action=@nameof(UsersController.Profile)
               asp-route-username=@Model.SellerUsername>@(Model.SellerUsername.ToUpper())</a>
        </h3>
        @if (Model.HasCrud)
        {
            <div class="col col-md-2">
                <partial name="../Shared/_CameraCrudPartial" for="Id" />
            </div>
        }
    </header>

    <partial name="_DetailsPartial" model="Model" />
</article>