@model CameraListingModel

<article class="d-flex flex-wrap border-bottom py-3 justify-content-around">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2">
        <img src="@Model.ImageUrl" alt="@Model.Make @Model.Model" class="w-100" />
    </div>
    <div class="col-md-6 col-lg-7 col-xl-8 flex-wrap">
        <div class="d-flex flex-wrap justify-content-between">
            <h3>@Model.Make @Model.Model</h3>
            <h3>@Model.Price.ToCurrency()</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-between">
            <h5>
                <a asp-controller="Cameras" asp-action=@nameof(CamerasController.Details)
                   asp-route-id=@Model.Id>Details</a>
            </h5>
            @if (Model.InStock)
            {
                <h5 class="text-right text-uppercase text-success">In stock</h5>
            }
            else
            {
                <h5 class="text-right text-uppercase text-danger">Out of stock</h5>
            }
        </div>
    </div>
    @if (Model.HasCrud)
    {
        <div class="col">
            <partial name="_CameraCrudPartial" for="Id" />
        </div>
    }
</article>